/* CSS Document */

/*----------------MENU-----------------*/
div#menu {
	border-left: 4px solid #3b510c;
	border-bottom: 4px solid #3b510c;
	padding-left: 4px;
	padding-bottom: 4px;
}

div#menu h2{
	color: #000000;
	text-align:left;
	margin: 0;
	padding: 3px;
	padding-left: 6px;
	background: #70981a;
}
div#menu h3{
	margin: 0;
	padding: 6px;
	background: #70981a;
}

div#menu a{
	color: #000000;
	bgcolor=#70981a;
	FONT-FAMILY: Arial;
	FONT-SIZE: 9pt;
}
div#menu li {
	list-style:none;
	width:160px;
	border-top: 1px solid #70981a;
}

div#menu ul {
	left: 30px;
	margin: 0;
	padding: 0;
}

div#menu li a {
	padding: 2px 0px 2px 4px;
	text-decoration: none;
	width:160px;
	border-left: 4px solid #70981a;
}


div#menu ul.niveau1 ul {
	border-left: 20px solid #70981a;
	background: #739d19;
}
div#menu ul.niveau1 li {
	background: #638716;
}

div#menu li a:hover {
	border-left-color: #b3f329;
	font-weight:bold;
}
